<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <a href="#" class="icon brands alt fa-twitter">
          <span class="label">Twitter</span>
        </a>
      </li>
      <li>
        <a href="#" class="icon brands alt fa-facebook-f">
          <span class="label">Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/xanthi_toutounzoglou_art" class="icon brands alt fa-instagram">
          <span class="label">Instagram</span>
        </a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; 2023</li>
      <li>Design:
        <a href="#">@dstergiou</a>
      </li>
      <li>Build: 0003</li>
    </ul>
  </div>
</footer>
