<!-- Footer -->
<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li>
        <a href="https://www.tiktok.com/@kcanthi" class="icon brands alt fa-tiktok">
          <span class="label">TikTok</span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/xanthi.toutounzoglou" class="icon brands alt fa-facebook-f">
          <span class="label">Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/xanthi_toutounzoglou_art" class="icon brands alt fa-instagram">
          <span class="label">Instagram</span>
        </a>
      </li>
    </ul>
    <ul class="copyright">
      <li>&copy; 2023</li>
      <li>Design:
        <a href="#">@dstergiou</a>
      </li>
      <li>Build: {{ site.version }}
      </li>
    </ul>
  </div>
</footer>
