<!-- Header -->
<header id="header" class="alt">
  <a href="/{{ page.lang }}/" class="logo">
    <strong>{{ site.top_left_site_banner1 }}</strong>
    <span>{{ site.top_left_site_banner2 }}</span>
  </a>
  <nav>
    {% if site.language_menu %}
      <a href="/en">EN</a>
      /
      <a href="/sv">SV</a>
      /
      <a href="/el">ΕΛ</a>
      |
    {% endif %}
    <a href="#menu">{{ site[locale].menu_title }}</a>
  </nav>
</header>
<!-- Menu -->
<nav id="menu">
  <ul class="links">
    <li>
      <a href="/{{ page.lang }}/">{{ site[locale].menu_home }}</a>
    </li>
    <li>
      <a href="/{{ page.lang }}/about/">{{ site[locale].menu_about }}</a>
    </li>
    <li>
      <a href="/{{ page.lang }}/expos/">{{ site[locale].menu_expos }}</a>
    </li>
  </ul>
  <ul class="actions stacked">
    <li>
      <a href="#" class="button primary fit" style="pointer-events: none; cursor: default;">Collections</a>
    </li>
  </ul>
  <ul class="links">
    {% for item in art[locale] %}
      <li>
        <a href="{{ item.url }}/">
          {{ item.alt_name if item.alt_name else item.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
