<!DOCTYPE HTML>
<html>
  {% include "components/head.njk" %}
  <body class="is-preload">
    <div id="wrapper">
      {% include "components/nav.njk" %}
      <section id="banner" class="style2">
        <div class="inner">
          <span class="image">
            {% image "assets/images/expo.jpg", "" %}
          </span>
          <header class="major">
            <h1>{{ title }}</h1>
          </header>
          <div class="content">
            <p>{{ desc }}</p>
          </div>
        </div>
      </section>
      <div id="main">
        {% if future_expo %}
          <section id="one">
            <div class="inner">
              <header class="major">
                <h2>Upcoming Events</h2>
              </header>
              {{ content | safe }}
            </div>
          </section>
        {% endif %}
        <section id="two">
          <div class="inner">
            <header class="major">
              <h2>Previous Events</h2>
            </header>
            <div class="table-wrapper">
              <table class="alt">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in collection_expos %}
                    <tr>
                      <td>
                        <i class="fa-solid {{ item.icon }}"></i>
                      </td>
                      <td>
                        {{ item.date }}
                      </td>
                      <td>
                        {{ item.desc }}
                      </td>
                      <td>
                        {{ item.location }}</td>
                    </tr>
                  </tbody>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <section id="three">
          <div class="gallery inner">
            {% for item in collection_images %}
              <a href="/{{ item.img }}" data-lightbox="{{ collection }}" data-title="{{ item.desc }}" class="image">
                {% image item.img , item.desc %}
              </a>
            {% endfor %}
          </div>
        </section>
        {% include "components/footer.njk" %}</div>
      {% include "components/js.njk" %}</body>
  </body>
</html>
