<!DOCTYPE HTML>
<html>
  {% include "components/head.njk" %}
  <body class="is-preload">
    <div id="wrapper">
      {% include "components/nav.njk" %}
      <section id="banner" class="style2">
        <div class="inner">
          <span class="image">
            <img src="{{ image }}" alt=""/>
          </span>
          <header class="major">
            <h1>{{ title }}</h1>
          </header>
          <div class="content">
            <p>{{ desc }}</p>
          </div>
        </div>
      </section>
      <!-- Main -->
      <div id="main">
        <section id="one">
          <div class="inner">
            <header class="major">
              <h2>Intro</h2>
            </header>
            <p>{{ content | safe }}</p>
          </div>
        </section>
        <section id="two" class="spotlights">
          <div class="gallery inner">
            {% for item in collection_images %}
              <a href="{{ item.img }}" data-lightbox="{{ collection }}" data-title="{{ item.desc }}" class="image">
                <img src="{{ item.img }}" data-position="center"/>
              </a>
            {% endfor %}
          </div>
        </section>
        {% if outro %}
          <section id="three">
            <div class="inner">
              <header class="major">
                <h2>Outro</h2>
              </header>
              <p>{{ outro }}</p>
            </div>
          </section>
        {% endif %}
      </div>
      {% include "components/footer.njk" %}
    </div>
    {% include "components/js.njk" %}</body>
</html></body></html>
